In [24]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# palette -> Accent, Accent_r, Blues, Blues_r, BrBG, BrBG_r, BuGn, BuGn_r, BuPu, BuPu_r, CMRmap, CMRmap_r, Dark2, Dark2_r, GnBu, GnBu_r, Greens, Greens_r, Greys, Greys_r, OrRd, OrRd_r, Oranges, Oranges_r, PRGn, PRGn_r, Paired, Paired_r, Pastel1, Pastel1_r, Pastel2, Pastel2_r, PiYG, PiYG_r, PuBu, PuBuGn, PuBuGn_r, PuBu_r, PuOr, PuOr_r, PuRd, PuRd_r, Purples, Purples_r, RdBu, RdBu_r, RdGy, RdGy_r, RdPu, RdPu_r, RdYlBu, RdYlBu_r, RdYlGn, RdYlGn_r, Reds, Reds_r, Set1, Set1_r, Set2, Set2_r, Set3, Set3_r, Spectral, Spectral_r, Wistia, Wistia_r, YlGn, YlGnBu, YlGnBu_r, YlGn_r, YlOrBr, YlOrBr_r, YlOrRd, YlOrRd_r, afmhot, afmhot_r, autumn, autumn_r, binary, binary_r, bone, bone_r, brg, brg_r, bwr, bwr_r, cividis, cividis_r, cool, cool_r, coolwarm, coolwarm_r, copper, copper_r, cubehelix, cubehelix_r, flag, flag_r, gist_earth, gist_earth_r, gist_gray, gist_gray_r, gist_heat, gist_heat_r, gist_ncar, gist_ncar_r, gist_rainbow, gist_rainbow_r, gist_stern, gist_stern_r, gist_yarg, gist_yarg_r, gnuplot, gnuplot2, gnuplot2_r, gnuplot_r, gray, gray_r, hot, hot_r, hsv, hsv_r, icefire, icefire_r, inferno, inferno_r, jet, jet_r, magma, magma_r, mako, mako_r, nipy_spectral, nipy_spectral_r, ocean, ocean_r, pink, pink_r, plasma, plasma_r, prism, prism_r, rainbow, rainbow_r, rocket, rocket_r, seismic, seismic_r, spring, spring_r, summer, summer_r, tab10, tab10_r, tab20, tab20_r, tab20b, tab20b_r, tab20c, tab20c_r, terrain, terrain_r, viridis, viridis_r, vlag, vlag_r, winter, winter_r
sns.set_palette("Accent")
# style -> white, dark, whitegrid, darkgrid, ticks
sns.set_style("darkgrid")

import warnings
warnings.filterwarnings(action='once')
#warnings.filterwarnings('ignore')

In [25]:
df = pd.read_csv('C:/Users/lpdon/OneDrive/Área de Trabalho/lucas/library-lpd/python ds models/linear regression/HousePrices_HalfMil.csv', sep=';')

In [26]:
df.head(1)

   precos  area  garagem  banheiros  lareira  marmore  andares
0   51875    25        3          4        3        0        1

In [27]:
from sklearn import preprocessing
def normalizeDf(df):
    x = df.values #returns a numpy array
    min_max_scaler = preprocessing.MinMaxScaler()
    x_scaled = min_max_scaler.fit_transform(x)
    return pd.DataFrame(x_scaled)

In [28]:
import pickle
modelo = open('linear_model_preco','rb')
model = pickle.load(modelo)
modelo.close()

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

X = df[['area','garagem','banheiros','lareira','marmore','andares']]
y = df[['precos']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2811)

In [30]:
def predict(v):
    #d = df
    #yd = d['precos']
    #xd = d.drop(columns=['precos'])
    yd = y_train.copy()
    xd = X_train.copy()
    yd.index = range(len(yd))
    xd.index = range(len(xd))

    xd.loc[len(xd)] = list(v)
    xd = normalizeDf(xd)
    dist = []

    for index,row in xd.iterrows():
        dist.append(np.linalg.norm(np.array(xd.loc[len(xd)-1]) - np.array(row)))

    xd['dist'] = dist

    ids = []
    for index, row in xd.sort_values('dist',ascending=True).iterrows():
        ids.append(index)
        if len(ids) > 10: break
    ids = ids[1:]

    values=[]
    for id in ids:
        if id != len(yd):
            values.append(yd.loc[id])

    return np.mean(values)

In [31]:
v = np.array([120,2,2,2,0,1])
predict(v)

46047.5

In [32]:
l = [1,2,3]

In [33]:
y_train.shape

(700, 1)

In [34]:
y_train

     precos
399   35100
427   34675
571   51075
443   64150
464   37775
..      ...
727   27425
341   60650
84    38550
447   57400
984   41275

[700 rows x 1 columns]

In [35]:
y_predict = model.predict(X_test)
y_predict2 = [predict(np.array(x)) for i,x in X_test.iterrows()]

In [36]:
y_test['precos']

402    35200
470    44150
241    38200
178    56875
986    40825
       ...
187    35000
882    33625
438    64275
492    36950
467    49100
Name: precos, Length: 300, dtype: int64

In [37]:
dff = pd.DataFrame({'linear':y_predict,'knn':y_predict2,'true':y_test['precos']})

In [38]:
dff

           linear      knn   true
402  46389.804757  41995.0  35200
470  49010.003659  49910.0  44150
241  43738.030518  42730.0  38200
178  48175.498205  44512.5  56875
986  39880.485863  37640.0  40825
..            ...      ...    ...
187  33403.010903  31530.0  35000
882  32584.938902  31477.5  33625
438  52859.394256  52922.5  64275
492  47325.570538  46835.0  36950
467  48637.305514  49392.5  49100

[300 rows x 3 columns]

In [39]:

EQM = metrics.mean_squared_error(y_test, y_predict).round(2)
REQM = np.sqrt(metrics.mean_squared_error(y_test, y_predict)).round(2)
R2 = metrics.r2_score(y_test, y_predict).round(2)

EQM2 = metrics.mean_squared_error(y_test, y_predict2).round(2)
REQM2 = np.sqrt(metrics.mean_squared_error(y_test, y_predict2)).round(2)
R22 = metrics.r2_score(y_test, y_predict2).round(2)

pd.DataFrame([[EQM,EQM2],[REQM,REQM2],[R2,R22]], ['EQM', 'REQM', 'R²'], columns=['linear','knn'])

           linear          knn
EQM   50197019.50  54584840.90
REQM      7084.99      7388.16
R²           0.67         0.64